{% extends "base.html" %}

{% block content %}

<div class="card text-center">
    <div class="card-body">
        <h3>Детальное описание задачи</h3>
    </div>
</div>

<div class="container">
    <div class="card my-5">
        <div class="card-header fs-4 text-center"> {{ task.title }}</div>
        <div class="card-body">
            <figure>
                <blockquote class="blockquote">
                    <p>Детальное описание:</p>
                    <p>{{ task.detail_description|linebreaks }}</p>
                </blockquote>
                <figcaption class="blockquote-footer mt-3">
                    <p>Статус : {{ task.status }}</p>
                </figcaption>
            </figure>

        </div>
    </div>
</div>

{% endblock %}